html,
body {
  margin: 0;
  font-size: 16px;
  font-family: Helvetica neue;
  background-color: White;
  line-height: inherit;
}

.flex-container {
  display: flex;
}

div {
  display: block;
}

/* Header */






/* Navigation */



 .menu {
   display: none;
 }

/* NAV2 */

.navbar div {
  position: sticky;
}

 nav {
   display: flex;
   width: 100%;
   background-color: white;
   justify-content: space-between;
   position: sticky;
   z-index: 99;

 }

 nav a {
   color: #5f5f5f;
   text-decoration: none;
   padding-top: 3rem;
 }

 .ttoo {
    width: 5rem;
    padding: 0;
    margin-left: 0;
}
.ttoo img {
  width: 5rem;
  height: 5rem;

}

.contactnav {
  margin-right: 2rem;
}

 .menu {
   display: none;
 }


.collage {
  width: 100%
}

.cover-img {
  width: 100%;
  height: auto;
  position: relative;
}

.heading {
  background-color: rgba(255,255,255,0.7);
  color: #5f5f5f;
  text-align: right;
  line-height: .9;
  width: 40rem;
  height: auto;
  margin-top: 9rem;
  margin-bottom: 5rem;
  padding: .5rem 2rem;
  position: absolute;
  top: 130px;
  right: 0;
}

/*.heading h3 {
  background: transparent;
  color: #5f5f5f;
  text-align: left;
  padding-bottom: .5rem;
}*/

.amp {
  font-size: 100px;
  letter-spacing: -10px;
  font-family: 'Gaegu', cursive; 
}

.the {
  font-size: 20px;
}
.lc {
  letter-spacing: 5px;
}



h1 {
  font-family: Arial Black;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  border-bottom: 2px solid #9D9985;
}

h2 {
  font-family: Helvetica neue;
  font-size: 30px;
  padding: 10px;
  /*color: #036575;*/
  letter-spacing: 15px;
}

.turing {
  font-family: 'Cinzel', sans-serif;
  letter-spacing: normal;
  font-size: 90px;
  text-shadow: 2px 2px 2px #ef3852;
}


h4 {
  font-size: 56px;
  font-family: 'Gaegu', cursive;
  font-weight: 600;
  color: #ef3852;
  padding-left: 10px;
  padding-top: 10px;
}



/* content */
.tri-color-border {
  height: .625rem;
  display: flex;
  width: 100%;
}

.tri-color-border .yellow {
    background: #f9ae06;
    -webkit-box-flex: 1;
    flex: 1;
}
.tri-color-border .red {
    background: #ef3852;
    -webkit-box-flex: 1;
    flex: 1;
}

.tri-color-border .blue {
    background: #12f1fc;
    -webkit-box-flex: 1;
    flex: 1;
}
.content {
  background-color: white;
  margin: 0 auto;
  display: block;
}
.intro {
  width: 50%
  display: block;
}




.intro p {
  background-color: #12f1fc;
  display: block;
  color: #036575;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 6rem;
  padding-left: 6rem;
  text-align: center;
  line-height: 1.5rem;
  margin: 0;
}

/*#collage img{
  max-width: 100%;
  object-fit: contain;

}*/

.infant-ECE {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 1rem auto;
  max-height: 20rem;

}

.program {
  width: 30%;

}

.program-image {
  border: 4px solid black;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: .5rem;

}

.program-image img{
  height: 100%;
  width: 100%;
}

h3 {
  border-radius: 50px;
  font-family: Helvetica;
  font-weight: 900;
  font-size: 1.5rem;
  background-color:#036575;
  color: #12f1fc;
  text-align: center;

}




/* Departments */
.departments {
    flex-wrap: wrap;
    justify-content: center;
}
.departments .desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgrey;
  width: 100%;
  padding-bottom: 2rem;
}

.departments .desktop h2{
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.subject {
  background-color: white;
  width: 25%;
  margin: .5rem;
  border-radius: 5px;
  border: 1px solid #lightgrey;
  box-shadow: 0px 0px 5px #333, inset 0px 0px 2px #d0a832;
}

.subject img {
  width: 100%;
}

.subject .content {
  padding: 1rem;
  text-align: center; 
}

.subject h3 {
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}


/* business info */

.info {
  display: flex;
  justify-content: space-around;
  background: #f9ae06;
}

.details {
  width: 30%;
  text-align: center;
}

.info .details h5{
  padding-top: 1rem;
  color: #5f5f5f;
  font-size: 1.3rem;
  font-weight: bold;
}

.info .details p {
  padding-bottom: 1rem;
}

form {
    padding-top: 1rem;
    padding-right: 5rem;
    padding-left: 2rem;
}

footer {

  padding-top: 4rem;
  color: #5f5f5f;
  height: 3rem;
  text-align: left;
}


